In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.DataFrame(np.random.randn(6,4),
                   index=list('abcdef'),
                   columns=list('ABCD'))
df1

          A         B         C         D
a  0.101334  1.594414  1.232708  1.798182
b  0.379467 -0.638527 -0.123946  0.145648
c  1.549371 -0.269821 -1.736421  0.402962
d -0.487963  0.031357 -0.237502 -0.298193
e -0.256753  0.396109 -0.286230 -0.471600
f -1.527184  1.325587  0.183184 -0.362296

In [3]:
df1.loc['a']

A    0.101334
B    1.594414
C    1.232708
D    1.798182
Name: a, dtype: float64

In [4]:
df1.xs('a')

A    0.101334
B    1.594414
C    1.232708
D    1.798182
Name: a, dtype: float64

In [5]:
df1.loc[:,df1.loc['a']<0]

Empty DataFrame
Columns: []
Index: [a, b, c, d, e, f]

In [6]:
df1.loc['a']>0

A    True
B    True
C    True
D    True
Name: a, dtype: bool