In [1]:
import numpy as np
import pandas as pd

In [3]:
s = pd.Series(np.random.randn(5),index=['a','b','c','d','e'])
s

a    0.220876
b    0.774490
c   -0.979840
d   -0.307004
e   -2.556739
dtype: float64

In [5]:
s = pd.Series(np.random.randn(5))
s

0    0.774457
1   -2.436106
2    0.368015
3    0.539487
4    0.912675
dtype: float64

In [6]:
d = {'b':1,'a':0,'c':2}
pd.Series(d)

b    1
a    0
c    2
dtype: int64

In [7]:
pd.Series(d,index=['a','b','c'])

a    0
b    1
c    2
dtype: int64

In [9]:
s[s > s.median()]

0    0.774457
4    0.912675
dtype: float64

In [10]:
s[[4,3,1]]

4    0.912675
3    0.539487
1   -2.436106
dtype: float64

In [11]:
np.exp(s)

0    2.169414
1    0.087501
2    1.444864
3    1.715128
4    2.490976
dtype: float64

In [12]:
s.array

<PandasArray>
[ 0.7744570958909808, -2.4361062452344036,  0.3680151217549811,
  0.5394874259928473,  0.9126746757777111]
Length: 5, dtype: float64

In [13]:
s.to_list()

[0.7744570958909808,
 -2.4361062452344036,
 0.3680151217549811,
 0.5394874259928473,
 0.9126746757777111]

In [14]:
s.to_numpy()

array([ 0.7744571 , -2.43610625,  0.36801512,  0.53948743,  0.91267468])

In [15]:
s.to_dict()

{0: 0.7744570958909808,
 1: -2.4361062452344036,
 2: 0.3680151217549811,
 3: 0.5394874259928473,
 4: 0.9126746757777111}

In [17]:
s.to_frame()

          0
0  0.774457
1 -2.436106
2  0.368015
3  0.539487
4  0.912675

In [20]:
dates = pd.date_range('20201013',periods=6)
dates

DatetimeIndex(['2020-10-13', '2020-10-14', '2020-10-15', '2020-10-16',
               '2020-10-17', '2020-10-18'],
              dtype='datetime64[ns]', freq='D')

In [22]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2020-10-13  0.248570 -0.596247 -1.079024  0.575765
2020-10-14  0.059881 -0.324118  1.159086 -1.474996
2020-10-15 -0.276766 -1.138446  1.667022  0.523160
2020-10-16 -0.151468 -0.848509 -0.279984  0.162212
2020-10-17  0.342438 -0.281721 -0.656001  0.253121
2020-10-18 -0.338627  1.407640  0.779123 -0.444683

In [32]:
df['A']

2020-10-13    0.248570
2020-10-14    0.059881
2020-10-15   -0.276766
2020-10-16   -0.151468
2020-10-17    0.342438
2020-10-18   -0.338627
Freq: D, Name: A, dtype: float64

In [33]:
df[:3]

                   A         B         C         D
2020-10-13  0.248570 -0.596247 -1.079024  0.575765
2020-10-14  0.059881 -0.324118  1.159086 -1.474996
2020-10-15 -0.276766 -1.138446  1.667022  0.523160

In [37]:
df.loc[dates[0]]

A    0.248570
B   -0.596247
C   -1.079024
D    0.575765
Name: 2020-10-13 00:00:00, dtype: float64

In [39]:
df.loc['20201014':'20201016',['A','B']]

                   A         B
2020-10-14  0.059881 -0.324118
2020-10-15 -0.276766 -1.138446
2020-10-16 -0.151468 -0.848509

In [43]:
df.iloc[1:2,2:3]

                   C
2020-10-14  1.159086

In [44]:
df = pd.DataFrame(np.random.randn(10, 4))
df

          0         1         2         3
0 -0.749465  0.011770 -1.606359 -0.375004
1 -0.459978 -0.575071  0.688681 -1.134069
2  0.717956  0.882878  0.949066  0.400682
3 -0.861046 -0.360631 -0.967352  0.938960
4  0.021925 -0.865345 -0.847702  0.407761
5  1.139274  0.677655 -0.095838  0.731571
6  0.183756 -0.155900  1.204094 -0.566804
7  0.360188 -0.972221 -1.380469  1.057474
8  0.325533  0.672290  1.799196 -0.930337
9 -1.312047  0.129501 -0.359476 -2.400615

In [46]:
pieces = [df[:3],df[3:7],df[7:]]
pieces

[          0         1         2         3
 0 -0.749465  0.011770 -1.606359 -0.375004
 1 -0.459978 -0.575071  0.688681 -1.134069
 2  0.717956  0.882878  0.949066  0.400682,
           0         1         2         3
 3 -0.861046 -0.360631 -0.967352  0.938960
 4  0.021925 -0.865345 -0.847702  0.407761
 5  1.139274  0.677655 -0.095838  0.731571
 6  0.183756 -0.155900  1.204094 -0.566804,
           0         1         2         3
 7  0.360188 -0.972221 -1.380469  1.057474
 8  0.325533  0.672290  1.799196 -0.930337
 9 -1.312047  0.129501 -0.359476 -2.400615]

In [48]:
pd.concat(pieces)

          0         1         2         3
0 -0.749465  0.011770 -1.606359 -0.375004
1 -0.459978 -0.575071  0.688681 -1.134069
2  0.717956  0.882878  0.949066  0.400682
3 -0.861046 -0.360631 -0.967352  0.938960
4  0.021925 -0.865345 -0.847702  0.407761
5  1.139274  0.677655 -0.095838  0.731571
6  0.183756 -0.155900  1.204094 -0.566804
7  0.360188 -0.972221 -1.380469  1.057474
8  0.325533  0.672290  1.799196 -0.930337
9 -1.312047  0.129501 -0.359476 -2.400615